

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* * {
  transition: 0.3s all;
  user-select: none;
} */

/* :root {
  --text: white;
} */

.App {
  margin: 30px 0 0 30px;
  width: 334px;
  border-radius: 10px;
  box-shadow: 0 3px 15px #0000001a;
  text-align: center;
}

.todo {
  color: black;  
  font-weight: 700;
}
.tasks {
  background: var(--text);
  color: black;
  font-size: 28px;
  margin: 0 ;
  margin-bottom: 10px;
}

.task:hover {
  background: #c2bfbf30;
}

.task-input {
  display: block;
  flex-direction: column;
}

.YellowLine {
  background-color: yellow;
  height: 34px;
  border-radius: 10px 10px 0 0 ;
}

/* .btnAdd {
  margin-bottom: 20px;
} */

.tasklist {
  border:  1px solid black;
  border-radius: 5px;
  /* margin: 0 20px;
  width: 300px; */
}

.btnSrt {
  display: flex;
  justify-content: flex-end;
}

.grayB {
  width: 25px;
  height: 15px;
  background: url(pic/Group74.svg);
  border: none;
  /* align-self: flex-end; */
  display: flex;
  /* flex-direction: row-reverse; */
  justify-content: flex-end;
  margin: 0 10px 9px 0;
}

.grayB:hover {
  background: url(pic/BlackGroup.svg);   
}
.grayBsort {
  width: 25px;
  height: 15px;
  background: url(pic/GroupUpGray.svg);
  border: none;
  /* align-self: flex-end; */
  display: flex;
  margin: 0 10px 9px 0;
}
.grayBsort:hover {
  background: url(pic/BlackGroupUP.svg);
}

.knopkaAdd {
  font: white;
  font-weight: 500;
  width: 130px;
  height: 38px;
  background-color: #833AE0;
  border-radius: 71px;
  align-self: center;
  text-align: center;
  display: flex;
  outline: none;
  margin: 0 93px 19px 93px;
  border: none;
  padding: 0 0 15px 0;
}